/*página-- */
body{
  background-color: rgb(225, 95, 95);
  margin: 0;
}

/*conteúdo-- */
/*medidas- distâncias dos textos */
.textos-medidas{
  padding-top: 200px;
  padding-left: 355px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/*texto */
.titulo-{
  color: rgb(255, 255, 255);
}

.titulo-cor{
  color: rgb(34, 212, 253);
}

/*parágrafo */
.conteudo-{
  color: white;
  font-size: 24px;
}

/*medidas - redes */
.redes-medidas{
  
}