/*CORES USADAS */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*página-- */
body{
  background-color: black;

}

 /*medidas- distâncias dos textos */
.textos-medidas{
  margin: 355px;
  margin-top: 235px;
  margin-right: 972px;
}

/*conteudo */
.titulo-{
  color: #ffffff;
  font-size: 36px;

}

.titulo-cor{
  color: rgb(34,212,253);
  font-size: 36px;

}

.conteudo-{
  color: #ffffff;
  font-size: 20px;
  padding-top: 40px;
}


.redes-medidas{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 32px; /* Aqui você controla a distância exata entre o texto e as redes */
  margin-top: -20px;
  margin-right: 1085px;
  margin-left: 461px;
  margin-bottom: 110px;
}

.subtitulo{
  display: flex;
  color: white;

}

.Git-botao, .Linkedin-botao, .Twitch-botao{
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 250px;

}


.imagem{
  display: flex;
  width: 50%;
  align-items: center;
  margin: 200px;
  margin-top: 245px;
  margin-right: 402px;
  margin-left: 82px;
  max-width: 300px;
}

.rodape-{
  padding: 24px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  color: black;
  background-color: rgb(34,212,253);
}


/* redes sociais:
  display: flex;
  justify-content: center; (centralizar, mais facil de trabalhar)
  gap: 16px; (espaçamento ente os blocos) 
  border: 2px solid;
  border-radius: 8px; 
  width: 50% (aumentou 50% do espaço do display)
  text-align: center;
  padding: 20px 0px; 
  font-size: 1.5rem;
  text-decoration: none;

*/


/* responsividade 
@media (max-width: 1200px){
  .cabecalho (nome da classe)
    padding: 10%;  
}

  .cabecalho-menu{
  justify-content: center;
}

  .apresentacao{
  flex-direction: column-reverse;
  padding: 10%;
}

  .apresentacao-conteudo{
  width: auto;
}
*/