* {
  margin: 0;
  border: 0;
}

body{
  background-color: #14181c;
}

nav{
  display: flex;
  background-color: #1c2227;
  align-items: center;
  padding: 20px;
  justify-content: center;
  gap: 5rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.logo{
  display: flex;
  margin-left: 1rem;
  color: white;
}

.logo-img{
  width: 80px;
  height: 30px;
  padding: 5px;
}

.menu-links{
  display: flex;
  gap: 20px;
  font-size: 14px;
}

a{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.781);
  font-weight: bold;
}

a:hover{
  color: rgba(255, 255, 255, 0.979);
}

input{
  border-radius: 100px;
  width: 130px;
  height: 19px;
  font-size: 13px;
  background-color: #dadada;
}

input:hover{
  background-color: #f1f1f1f1;
}

.imagem-geral{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5rem 5rem 3rem 5rem;
}

.imagem{
  width: 900px;
  border-radius: 10px;
  height: 400px;
  box-shadow: 70px 5px 50px rgba(139, 94, 94, 0.151);
  transition: transform 0.3s ease;
}

.imagem:hover{
  transform: scale(1.01);
}

.texto{
  display: flex;
  color: white;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.texto-{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 28px; 
}

.botao{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  margin: 35px;
}

.botao-{
  padding: 20px;
  border-radius: 10px;
  background-color: #00ac1dd7;
  font-size: 15px;
  font-weight: bold;
  color: white;
  margin-bottom: 2rem;
}

.botao-:hover{
  background-color: #00ac1d;
}

.texto-dois{
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(128, 128, 128, 0.699);
  font-size: 18px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.cards{
  
}